.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(59, 59, 59);
  box-shadow: 0px 2px 4px black;
  z-index: 99;
  a {
    font-size: 1em;
  }
}
.cover {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  height: fit-content;
  margin: 0 auto;
  padding: 0 10px;
  menu {
    display: flex;
  }
}
.logo {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  cursor: pointer;
  &:hover p {
    color: white;
  }
  p {
    color: rgb(230, 230, 230);
    font-weight: 500;
    font-size: 1.3em;
  }
}
.menuItem,
.userMenu {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 100%;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: rgb(80, 80, 80);
  }
}
.userMenu {
  padding: 0;
}
.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  background-color: rgb(59, 59, 59);
  border: 1px solid gray;
  li {
    padding: 10px;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
.userMenu:hover .dropdownMenu {
  display: block;
}

@media (max-width: 770px) {
  .logo {
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    p {
      // display: none;
      font-size: 0.8em;
    }
  }
  .menuItem {
    flex-direction: column;
    justify-content: center;
    padding: 10px 5px 5px;
    p {
      font-size: 0.7em;
    }
    svg {
      width: 25px;
      height: 25px;
    }
  }
  .dropdownMenu {
    li {
      flex-direction: row;
      justify-content: start;
    }
  }
}
