.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(59, 59, 59);
  box-shadow: 0px 2px 4px black;
  z-index: 99;
}
.cover {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  height: 40px;
  margin: 0 auto;
  padding: 0 10px;
  menu {
    display: flex;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  &:hover p {
    color: white;
  }
  p {
    color: rgb(230, 230, 230);
    font-weight: 500;
    font-size: 1.3em;
  }
}
.menuItem,
.userMenu {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: rgb(80, 80, 80);
  }
}
.userMenu {
  padding: 0;
}
.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  background-color: rgb(59, 59, 59);
  border: 1px solid gray;
  li {
    padding: 10px;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
.userMenu:hover .dropdownMenu {
  display: block;
}

@media (max-width: 770px) {
  .logo {
    p {
      display: none;
    }
  }
  .menuItem {
    p {
      display: none;
    }
    svg {
      width: 25px;
      height: 25px;
    }
  }
}
