.splitter {
  margin: 20px;
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(80, 80, 80, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(80, 80, 80, 0) 100%
  );
}

.tariff {
  h2 {
    margin-bottom: 10px;
  }
}
.chooseTariff {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.orderForm {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    background-color: rgb(80, 80, 80);
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 6px black;
  }
  label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
.periodTools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.rangeBlock {
  flex: 1 1 auto;
  input {
    flex: 1 1 auto;
    width: 100%;
  }
  input::-webkit-slider-thumb {
    cursor: pointer;
  }
  input {
    appearance: none;
    height: 8px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgb(40, 40, 40);
    border-radius: 5px;
    box-shadow: 1px 1px 2px black inset;
    background-image: linear-gradient(to right, #e4ff81, #91ff00);
  }
  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: radial-gradient(
      circle at 25% 15%,
      rgb(220, 220, 220) 0%,
      rgb(100, 100, 100) 100%
    );
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
  }
  input::-webkit-slider-thumb:hover {
    background: radial-gradient(
      circle at 25% 15%,
      rgb(240, 240, 240) 0%,
      rgb(140, 140, 140) 100%
    );
  }
}
.rangeValues {
  display: flex;
  justify-content: space-between;
  p {
    font-size: 0.8em;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px black inset;
    background-color: rgb(100, 100, 100);
    font-size: 1.1em;
    font-weight: 600;
    border: 1px solid gray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px black;
  }
}
.warningMsg {
  display: flex;
  gap: 5px;
  p {
    color: rgb(253, 204, 112);
  }
}

//circle diagram --------->
.circleDiagram {
  --degree: calc(360deg / 100 * var(--percent));
  --hue: calc(360 / 100 * var(--percent));
  --accent-color: hsl(100, calc(var(--hue) * 1%), 60%);
  font-size: rem;
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
  filter: drop-shadow(0 2px 2px rgb(0 0 0 / 0.5));
  display: grid;
  place-items: center;
  font-weight: 700;
  font-family: system-ui, sans-serif;
  color: var(--accent-color);
  text-shadow: 0 0 2px rgb(0 0 0);
  cursor: pointer;
}
.circleDiagram::before,
.circleDiagram::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
.circleDiagram::before {
  inset: 0.6em;
  background-color: var(--accent-color);
  background-image: radial-gradient(
      circle at calc(50% - 0.25rem) calc(50% + 0.25rem),
      rgb(0 0 0 / 0.25) 25%,
      transparent calc(25% + 0.5rem)
    ),
    conic-gradient(
      rgb(255 255 255 / 0.25) 0deg,
      rgb(0 0 0 / 0.15) var(--degree)
    );
  // conic-gradient(
  //   at calc(50% - 0.4rem) calc(50% + 0.4rem),
  //   transparent var(--degree),
  //   rgb(0 0 0 / 0.25) calc(var(--degree) + 5deg)
  // );
}
.circleDiagram::after {
  inset: 0;
  background-color: rgb(50 50 50);
  background-image: linear-gradient(transparent, rgb(0 0 0 / 0.5));
  --mask1: radial-gradient(black 40%, transparent calc(40% + 2px));
  --mask2: conic-gradient(
    transparent var(--degree),
    black calc(var(--degree) + 0.5deg)
  );
  // -webkit-mask-image: var(--mask1), var(--mask2);
  mask-image: var(--mask1), var(--mask2);
}
// <--------- circle diagram
.totalCost {
  display: flex;
  align-items: center;
  gap: 10px;
  div {
    font-weight: 600;
  }
}

.successOrder {
  p {
    text-indent: 1.5em;
    text-align: justify;
    margin: 5px 0;
  }
  a {
    color: rgb(110, 190, 255);
  }
}
.tariffsUpdate {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 720px) {
  .tariffsUpdate {
    flex-direction: column;
    svg {
      transform: rotate(90deg);
    }
  }
}
