.footer {
  width: 100%;
  padding: 0 20px;
  margin-top: 10px;
  background-color: rgb(59, 59, 59);
  box-shadow: 0px -2px 4px black;
  z-index: 99;
}
.cover {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  a {
    color: rgb(180, 180, 180);
    &:hover {
      color: white;
    }
  }
}
.mainBlock {
  display: flex;
  justify-content: space-between;
}
.about,
.legal {
  display: flex;
  flex-direction: column;
}

.additional {
  font-size: 0.7em;
  text-align: center;
}
