.header {
  width: 100%;
  padding: 0 20px;
  margin-top: 10px;
  background-color: rgb(59, 59, 59);
  box-shadow: 0px -2px 4px black;
  z-index: 99;
}
.cover {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  height: 40px;
  margin: 0 auto;
  menu {
    display: flex;
    gap: 20px;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  &:hover p {
    color: white;
  }
  svg {
    width: 60px;
    height: 30px;
    fill: none;
    path {
      stroke: url(#gradient);
    }
  }
  p {
    color: rgb(230, 230, 230);
    font-weight: 500;
    font-size: 1.3em;
  }
}
.menuItem {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: rgb(80, 80, 80);
  }
}

@media (max-width: 560px) {
  .menuItem {
    p {
      display: none;
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
}
