.profile {
  h2 {
    // text-align: center;
    margin-bottom: 10px;
  }
}
.profileInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.avatarNotInteractive {
  display: block;
  background: linear-gradient(to top, rgb(160, 160, 160), rgb(220, 220, 220));
  box-shadow: 2px 2px 6px rgb(0, 0, 0);
  height: 100px;
  width: 100px;
  border-radius: 10px;
  overflow: hidden;
  img {
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.splitter {
  margin: 20px;
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(80, 80, 80, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(80, 80, 80, 0) 100%
  );
}

.personalInfoBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 40px;
}
.avatar {
  position: relative;
  margin-bottom: 10px;
  height: 100%;
  label {
    display: block;
    background: linear-gradient(to top, rgb(180, 180, 180), rgb(240, 240, 240));
    box-shadow: 2px 2px 6px rgb(0, 0, 0);
    height: 200px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    filter: contrast(0.8);
    &:hover {
      filter: none;
    }
  }
  img {
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  input {
    display: none;
  }
  button {
    position: absolute;
    bottom: -15px;
    right: -15px;
    padding: 5px;
    opacity: 0.7;
    background-color: rgb(255, 216, 194);
    z-index: 2;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}
.nameBlock,
.passwordBlock {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
}
.deleteAccountBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  button {
    align-self: center;
    max-width: 300px;
    background-color: rgb(255, 190, 160);
    // color: white;
  }
}
.deleteWarning {
  text-align: justify;
  svg {
    vertical-align: bottom;
  }
}

//confirm-email page -------------------------->
.messagePositive,
.messageNegative {
  text-align: center;
  margin-bottom: 20px;
  p {
    color: rgb(159, 216, 132);
    font-weight: 600;
  }
}
.messageNegative {
  p {
    color: rgb(230, 141, 141);
  }
}
.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
.loaderTimer {
  position: absolute;
  font-size: 2em;
  font-weight: 800;
}
.loaderSpinner {
  width: 80px;
  height: 80px;
  border: 8px solid rgb(100, 100, 100);
  border-top: 8px solid rgb(180, 180, 180);
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// <-------------------------- confirm-email page

//warning message confirm email -------------------------->
.warningConfirmation {
  display: flex;
  align-items: center;
  background-color: rgb(255, 180, 90);
  box-shadow: 4px 2px 6px black inset;
  margin: 0 -20px 20px;
  padding: 0 20px;
  svg {
    min-width: min-content;
    fill: rgb(224, 88, 9);
    margin-right: 10px;
  }
}
.message {
  position: relative;
  overflow: hidden;
  padding: 10px 0;
  width: 100%;
  p {
    color: rgb(60, 60, 60);
    display: inline-block;
    font-weight: 600;
    white-space: nowrap;
    padding-left: 100%;
    animation: warning 15s linear infinite;
  }
}
.shadow {
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 20px;
  background: rgb(32, 32, 32);
  background: linear-gradient(
    90deg,
    rgba(255, 180, 90, 1) 0%,
    rgba(255, 180, 90, 0) 2%,
    rgba(255, 180, 90, 0) 98%,
    rgba(255, 180, 90, 1) 100%
  );
}
@keyframes warning {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
