* {
  margin: 0;
  padding: 0;
  font-style: none;
  // font-family: 'Inter', sans-serif;
  color: rgb(220, 220, 220);
  box-sizing: border-box;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  min-width: 360px;
  width: 100%;
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;
  // height: 100%;
}

main {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
label,
select,
button,
ul,
li,
input {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button,
input[type='submit'] {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 2px black;
  background-color: rgb(220, 220, 220);
  color: rgb(50, 50, 50);
  gap: 5px;
  padding: 10px;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  svg {
    fill: rgb(50, 50, 50);
  }
}
button:hover,
input[type='submit']:hover {
  background-color: white;
}
button:active,
input[type='submit']:active {
  box-shadow: 1px 1px 2px black inset;
  background-color: rgb(150, 150, 150);
  transform: translateY(1px);
}
button:disabled,
input[type='submit']:disabled {
  pointer-events: none;
  box-shadow: none;
  background-color: rgb(150, 150, 150);
  color: rgb(120, 120, 120);
}

input {
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1em;
  color: rgb(60, 60, 60);
}

//----------- Pop-up message ----------->
.notificationSuccess,
.notificationError {
  position: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  top: 50px;
  right: 20px;
  max-width: 300px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  z-index: 999;
  div:first-child {
    svg {
      vertical-align: bottom;
    }
  }
  animation: appearance 0.5s ease-in-out;
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
//<----------- Pop-up message -----------

//----------- Loading ----------->
.loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(30, 30, 30);
  svg {
    position: absolute;
  }
  p {
    position: absolute;
  }
}
//<----------- Loading -----------
