.profile {
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
}
.splitter {
  margin: 20px;
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(80, 80, 80, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(80, 80, 80, 0) 100%
  );
}
